# When adding additional environment variables, the schema in "/src/env.js"
# should be updated accordingly.

# Prisma
# https://www.prisma.io/docs/reference/database-reference/connection-urls#env
# Local SQLite DB
#DB=file:./dev.db
DB="sqlserver://45.117.137.202:1433;database=WeatherDB;user=root;password=TY4KM1997;trustServerCertificate=true;encrypt=true"
# Remote MySQL DB
#DB="sqlserver://45.117.137.202:1433;database=WeatherDB;user=root;password=TY4KM1997;trustServerCertificate=true"
#DB=mysql://root:CIwmMPwpfgJMraJDAADXBgfmZhbNyXcT@autorack.proxy.rlwy.net:58384/railway
XX=Bearer sk-svcacct-5DtNLtLMQoc1O_xLey-Ehh-Ljx20ja_n3bSRTusklfEGgvVO9R1LuZnuXRhshSMDK61T3BlbkFJwkDagrJ8rm8yrR8SZkhHLRXfQZPOy7MJq4A5tP9yHfLria6OA1_3tNlFJMOZZ1mIi4gA